body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font;
  // font-family: "Courgette", serif;
}

p, ul, ol {
  line-height: 1.5;
}

a {
  color: $accent;
  &:hover {
    color: $accent-light;
  }
}

hr {
  border-top: none;
  border-bottom: 1px dotted $accent;
  margin: 3rem 0 3rem 0;
}

h1 {
  font-size: clamp(2rem, calc(0rem + 8vw), 3.5rem);
}